body {
    font-family: 'Comfortaa Regular', sans-serif;
    margin: 0;
    background: rgba(243, 246, 253, 1);
}

.app {
    min-width: 1024px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 11fr;
}

.panel {
    position: fixed;
    display: grid;
    grid-template-rows: 1fr 2fr;
    min-height: 100%;
    min-width: 151px;
    margin: auto;
    background: white;
    grid-column: 1 / 1;
    padding-inline-start: 56px;
}

.logo {
    margin-top: 28px;
    min-width: 86px;
    min-height: 91px;
}

.menu {
    display: grid;
    gap: 25px;
}

.menu__list {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    margin-top: 48px;
    gap: 25px;
}

.button__menu {
    border-radius: 14px;
    background: rgba(255, 255, 255, 1);
    border: none;
    width: 76px;
    height: 75px;
    box-shadow: 0px 8px 14px 0px rgba(62, 107, 224, 0.12);
}

.button__menu:hover {
    cursor: pointer;
    background: rgba(106, 106, 251, 1);
}

.button__menu:hover img {
    filter: brightness(0) invert(1);
}

.active__img_button_menu {
    background: rgba(80, 81, 249, 1);
}

.active__img_button_menu img {
    filter: brightness(0) invert(1);
}

.img__button_menu {
    width: 30px;
    height: 30px;
}

.add {
    border-radius: 14px;
    width: 76px;
    height: 75px;
    background: none;
    border: 1px solid rgba(202, 213, 255, 1);
}

.add:hover {
    cursor: pointer;
    background: rgba(243, 246, 253, 1);
}

.div__header {
    display: grid;
    padding-inline-start: 41px;
}

.content {
    display: none;
}

.active__block {
    display: grid; 
    margin-inline-start: 200px;
    grid-template-rows: 1fr 3fr;
}

.main {
    display: grid;
    max-height: 80vh;
    grid-template-rows: repeat(5, 110px);
    gap: 12px;
    padding-inline-start: 49px;
}

.header {
    display: grid;
    gap: 492px;
    grid-template-columns: repeat(2, 1fr);
    margin-block-start: 45px;
    height: 15%;
}

.header__text {
    font-family: 'Comfortaa SemiBold', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 33.45px;
    margin-inline-start: 8px;
}

.progress__text {
    display: flex;
    gap: 110px;
}

.progress__name {
    font-family: 'Comfortaa Regular', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 7px;
}

.progress__percentage {
    font-family: 'Comfortaa Regular', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 13.38px;
    margin-top: 10px;
    color: rgba(118, 131, 150, 1);
}

.progress__strip {
    background: rgba(230, 233, 237, 1);
    width: 235px;
    height: 5px;
    border-radius: 4px;
    position: relative;
    margin-top: 12px;
}

.progress__strip_active {
    background: rgba(80, 81, 249, 1);
    height: 100%;
    border-radius: 4px;
    position: absolute;
}

.div__input {
    display: grid;
    grid-template-columns: 200px 880px;
    width: 900px;
    min-height: 100px;
    margin-block-end: 12px;
}

.div__form_day {
    display: grid;
    grid-column: 1;
    background: rgba(251, 250, 255, 1);
    min-width: 129px;
    min-height: 70%;
    font-family: 'Comfortaa SemiBold', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    padding: 0px 38px 0px 43px;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 10px;
}

form {
    display: grid;
    gap: 15px;
}

input {
    grid-column: 1;
    width: 512px;
    height: 40px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(231, 235, 251, 1);
    position: relative;
    padding: 2px 0px 0px 40px;
    font-family: 'Comfortaa Regular';
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.error {
    border: 1px solid red;
}

.comment__div {
    display: grid;
    grid-template-columns: 521px 120px;
    grid-column: 2;
    gap: 35px;
    width: 715px;
    min-height: 70%;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(231, 235, 251, 1);
    border-radius: 0  10px 10px 0;
    position: relative;
    font-family: 'Comfortaa SemiBold', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    color: rgba(35, 35, 95, 1);
    padding: 7px 0px 5px 24px;
    align-items: center;
}

.comment__text {
    font-family: 'Comfortaa SemiBold', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}

.comment__icon {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 40px;
    left: 42px;
}

.comment__icon_delete {
    width: 40px;
    margin-inline-start: 80px;
    background: none;
    border: none;
    border-radius: 7px;
    padding-top: 5px;
}

.comment__icon_delete:hover {
    background: rgba(243, 246, 253, 1);
    cursor: pointer;
}

.done {
    display: flex;
    grid-column: 2;
    align-items: center;
    justify-content: center;
    padding: 14px 30px;
    width: 130px;
    min-height: 39px;
    border: 1px solid rgba(231, 235, 251, 1);
    border-radius: 10px;
    background: rgba(237, 236, 254, 1);
    color: rgba(80, 81, 249, 1);
    font-family: 'Comfortaa SemiBold', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 14px;
}

.done:hover {
    cursor: pointer;
    background: rgb(217, 216, 243);
}

.cover {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
}

.cover__hidden {
    display: none;
}

.popup {
    display: flex;
    box-shadow: 0px 8px 14px 12px rgba(56, 56, 56, 0.05);
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    max-width: 700px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.popup__close {
    position: absolute; 
    right: 15px;
    top: 15px;
    border: none;
    background: none;
    cursor: pointer;
}

.icon {
    border-radius: 14px;
    background: rgba(255, 255, 255, 1);
    border: none;
    width: 76px;
    height: 75px;
    box-shadow: 0px 8px 14px 0px rgba(62, 107, 224, 0.12);
}

.icon:hover {
    cursor: pointer;
    background: rgba(106, 106, 251, 1);
}

.icon:hover img {
    filter: brightness(0) invert(1);
}

.icon-active {
    background: rgba(80, 81, 249, 1);
}

.icon-active img {
    filter: brightness(0) invert(1);
}

h2 {
    font-family: 'Comfortaa SemiBold', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
}

.icon-label {
    font-family: 'Comfortaa SemiBold', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    color: rgba(118, 131, 150, 1);
}

.icon-select {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.popup__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}